<div class="text-center container nac ">
    <nav class="d-flex justify-content-between">
        <nav-left class="pt-3">
            <a class="text-white text-decoration-none fs-3" href="/">Themebau.</a>
        </nav-left>
        <nav-right class="w-50 d-flex justify-content-between ">
                <a class="pt-3 text-white text-decoration-none" href="/">Home</a>    
                <a class="pt-3 text-white text-decoration-none" href="/projects">Projects</a>    
                <a class="pt-3 text-white text-decoration-none" href="/pages">Pages</a>    
                <a class="pt-3 text-white text-decoration-none" href="/contact">contact</a> 
                <button type="button" class="btn btn-outline-secondary p-3 text-white text-decoration-none">Purchase .</button>   
        </nav-right> 
    </nav>
</div>