<%- include("./partials/header") %>

<div class="main container-fluid">
  <div class="page-1 position-relative z-1">
    <%- include("./partials/nav") %>
    <div class="circle z-n1" style="height: 28%; width: 30%;"></div>
    
    <div class="">
      <h1 class=" index-heading text-center text-white ">Themebau.</h1>

      <p class="py-4 text-white col-12 mx-auto text-center" style="width:28%;">Themeba50 a stylish universal template for all your projects & creative output. Minimalistic and easy to use, it has everything you need to launch your website.</p>

      <div class="imgs container d-flex justify-content-between py-5">


        <div class="left-img d-flex flex-column justify-content-center align-items-center">

          <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/main-home-740-600.jpg" alt="">

          <p class="text-white text-center fs-4 col-6 mx-auto">Main Home</p>

        </div>

        <div class="mid-img d-flex flex-column justify-content-center align-items-center">
          
          <img  class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/simple-portfolio-740-600.jpg" alt="">
            <p class="text-white text-center fs-4 col-6 mx-auto">Simple Portfolio</p>

          </div>

        <div class="mid-img d-flex flex-column justify-content-center align-items-center">
        
          <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/creative-agency-740-600.jpg" alt="">

          <p class="text-white text-center fs-4 col-6 mx-auto">Creative Agency</p>
          
        </div>  

      </div>


      <div class="imgs container d-flex justify-content-between py-5">

        <div class="left-img d-flex flex-column justify-content-center align-items-center">

          <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/freelancer-portfolio-740-600.jpg" alt="">

          <p class="text-white text-center fs-4 col-6 mx-auto">Freelancer Portfolio</p>

        </div>

        <div class="mid-img d-flex flex-column justify-content-center align-items-center">
          
          <img  class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/interactive-dark-740-600.jpg" alt="">
            <p class="text-white text-center fs-4 col-6 mx-auto">Interactive Dark</p>

          </div>

        <div class="mid-img d-flex flex-column justify-content-center align-items-center">
        
          <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/digital-agency-740-600.jpg" alt="">

          <p class="text-white text-center fs-4 col-6 mx-auto">Digital Agency</p>

        </div>  

      </div>

      <div class="imgs container d-flex justify-content-between py-5">


        <div class="left-img d-flex flex-column justify-content-center align-items-center">

          <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/fullscreen-slider-740-362.jpg" alt="">

          <p class="text-white text-center fs-4 col-6 mx-auto">Fullscreen slider</p>

        </div>

        <div class="mid-img d-flex flex-column justify-content-center align-items-center">
          
          <img  class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/carousel-light-740-362.jpg" alt="">
            <p class="text-white text-center fs-4 col-6 mx-auto">Carousal light</p>

          </div>

        <div class="mid-img d-flex flex-column justify-content-center align-items-center">
        
          <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/carousel-dark-740-362.jpg" alt="">

          <p class="text-white text-center fs-4 col-6 mx-auto">Carousal Dark</p>
          
        </div>  

      </div>

      <div class="imgs container d-flex justify-content-start col-6 py-5">


        <div class="left-img d-flex flex-column justify-content-center align-items-center">

          <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/interactive-light-740-600.jpg" alt="">

          <p class="text-white text-center fs-4 col-6 mx-auto">Interactive Light</p>

        </div>

        <div class="mid-img d-flex flex-column justify-content-center align-items-center">
          
          <img  class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/left-menu-740-600.jpg" alt="">
            <p class="text-white text-center fs-4 col-6 mx-auto">Left Menu</p>

        </div>

          

      </div>

      

      </div>

    </div>
  </div>

  <div class="page-2 container bg-light my-5  h-100 ">

    <div class="position-relative d-flex justify-content-evenly column-gap-3">
      <div class="col-5 py-5" style="width: 35%;">
        <img class="col-5 py-5 p2-img1"  style="width: 100%;" src="https://runwebrun.com/themebau/assets/images/demos/demo-1-940-602.jpg" alt="">
  
        <img class="top-10 start-30 p2-img2" style="width: 30%;" src="https://runwebrun.com/themebau/assets/images/demos/demo-2-740-560.jpg" alt="">
  
      </div>
  
  
      <div class="py-5 my-5 col-5">
        <h2 class="py-5   col-8">Present your work in a unique way 💪</h2>
        <div class="p2-sub">
          <p class="  col-10">Themebau has 1/2/3/4 columns layouts to showcase your work and collections. Choose between the 19 types of layouts to create your portfolio.</p>
        <button type="button" class="bg-dark text-white btn-dark my-5 p-2 col-5" >
          <a class="text-decoration-none text-white fs-5" href="">View pages .</a> 
        </button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between  py-5">
      <img src="/images/1.png" alt="">
      <img src="/images/2.png" alt="">
      <img src="/images/3.png" alt="">
      <img src="/images/4.png" alt="">
      <img src="/images/5.png" alt="">
      <img src="/images/6.png" alt="">
    </div>

    <p class="text-center fs-4 pb-5">add more... 🔥</p>   

  </div>

 <div class="page-3 container-fluid py-5 my-5 overflow-hidden">
  <div class=" py-5 my-5 container position-relative z-4 " >
    <div class="circle3" style="height:55%; width: 40%;"></div> 

    <h1 class="text-white text-center fs-1">Project showcase</h1>
    
    <div class="projects-showcase container-fluid d-flex justify-content-between py-5 my-4">
      <img class="p3-img1" style="width: 30%;" src="https://runwebrun.com/themebau/assets/images/demos/portfolio-single-1-1000-958.jpg" alt="">
      <img class="p3-img2" src="https://runwebrun.com/themebau/assets/images/demos/portfolio-single-2-660-660.jpg" alt="">
      <img class="p3-img3" src="https://runwebrun.com/themebau/assets/images/demos/portfolio-single-3-1000-958.jpg" alt="">
    </div>

    <div class="slider text-center w-25 mx-auto">
      <div class="inside-slider">.. </div>
    </div>


  </div>
 </div>

 <div class="page4  bg-light container py-5 ">

  <div class="d-flex justify-content-around py-4">
    <p class="col-3 fs-bold fs-2 " >Practical Inner pages for everything you may need.</p>
  <p class="col-3">Themebau is packed with a set of practical inner pages for various uses. Choose your favorites & customize them to your needs.</p>
  </div>

  <div class="imgs container d-flex justify-content-between py-5">


    <div class="left-img d-flex flex-column justify-content-center align-items-center">

      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/about-us-540-460.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">About us</p>

    </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
      
      <img  class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/about-us-2-540-460.jpg" alt="">
        <p class=" text-center fs-4 col-8 py-3 mx-auto">Simple Portfolio</p>

      </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
    
      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/about-me-540-460.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">Creative Agency</p>
      
    </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
    
      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/services-540-460.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">Creative Agency</p>
      
    </div> 
      
  </div>

  <div class="imgs container d-flex justify-content-between py-5">


    <div class="left-img d-flex flex-column justify-content-center align-items-center">

      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/single-service-540-460.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">Single service</p>

    </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
      
      <img  class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/contact-us-540-460.jpg" alt="">
        <p class=" text-center fs-4 col-8 py-3 mx-auto">Contact Us</p>

      </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
    
      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/contact-us-2-540-460.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">Contact us V.2</p>
      
    </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
    
      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/404-540-460.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">404 page</p>
      
    </div> 
      
  </div>

  <div class="imgs container d-flex justify-content-between py-5">


    <div class="left-img d-flex flex-column justify-content-center align-items-center">

      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/contact-us-540-460.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">Blog</p>

    </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
      
      <img  class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/contact-us-540-460.jpg" alt="">
        <p class=" text-center fs-4 col-8 py-3 mx-auto">Blog V.2</p>

      </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
    
      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/single-post-540-460.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">Single post</p>
      
    </div>

    <div class="mid-img d-flex flex-column justify-content-center align-items-center">
    
      <img class="" style="width: 80%;" src="https://runwebrun.com/themebau/assets/images/demos/coming-soon-540-264.jpg" alt="">

      <p class=" text-center fs-4 col-8 py-3 mx-auto">Coming soon</p>
      
    </div> 
      
  </div>

    
  

</div>

<div class="page-5 position-relative overflow-hidden container-fluid py-5 my-5">
  <div class=" py-5 my-5 container" >


    
    
    <h1 class="text-white text-center fs-1">Menu Styles</h1>
    <div class="circle2" style="height:100%; width: 40%;"></div>   
    
    <div class="projects-showcase container-fluid d-flex justify-content-between py-5 my-4">
      <div class="d-flex flex-column">
        <img class="p5-img1" style="width: 90%;" src="https://runwebrun.com/themebau/assets/images/demos/classic-menu-740-362.jpg" alt="">
        <p class="text-white text-center col-12 fs-4">Classic Menu</p>
      </div>
      
      <div class="d-flex flex-column">
        <img class="p5-img2" style="width: 90%;" src="https://runwebrun.com/themebau/assets/images/demos/white-left-menu-740-362.jpg" alt="">
      <p class="text-white text-center col-12 fs-4">White left Menu</p>
      </div>

      <div class="d-flex flex-column z-3">
        <img class="p5-img3" style="width: 90%;" src="https://runwebrun.com/themebau/assets/images/demos/dark-center-menu-740-362.jpg" alt="">
      <p class="text-white text-center col-12 fs-4">Dark Center Menu</p>
      </div>

    </div>

    <div class="slider text-center w-25 mx-auto">
      <div class="inside-slider">.. </div>
    </div>


  </div>
</div>

<div class="page6  bg-border">

 <div class="container-fluid page-6">
  <div class="container ">
    <div class=" w-100 d-flex justify-content-between">
      <img class="col-4  w-50" src="https://runwebrun.com/themebau/assets/images/demos/responsive-1200-1070.jpg" alt="">
  
      <div class="my-auto w-50 h-100 col-5 d-flex flex-column  align-items-center">
        <h1 class="col-10 mx-5 px-5">
          Fully responsive and retina ready 👑
        </h1>
        <p class="col-10  mx-5 px-5 ">Themebau is designed to look great on desktop computers, tablets and mobile devices. Every element 100% responsive & retina ready.</p>
      </div>
    </div>
   </div>
 </div>

 <div class="container w-100 my-5 d-flex justify-content-between pt-5">
  
  <div class="d-flex  justify-content-between " style="width: 31%;">
    <img class="col-4" style="width: 20%; height: 50%;" src="/images/p6/1.png" alt="">
    <div class="mx-4">
      <h5 class="fs-3">Bootstrap 4</h5>
      <p class="text-body-secondary fs-5 col-12">Themebau based on Bootstrap 4, so layout changes is so much easily.</p>
    </div>
  </div>

  <div class="d-flex  justify-content-between " style="width: 31%;">
    <img class="col-4" style="width: 20%; height: 50%;" src="/images/p6/2.png" alt="">
    <div class="mx-4">
      <h5 class="fs-3">Sass Available</h5>
      <p class="text-body-secondary fs-5 col-12">Easy customization with SASS variables. You can change colors, typography and more.</p>
    </div>
  </div>

  <div class="d-flex  justify-content-between " style="width: 31%;">
    <img class="col-4" style="width: 23%; height: 58%;" src="/images/p6/3.png" alt="">
    <div class="mx-4">
      <h5 class="fs-3">Figma Files Included</h5>
      <p class="text-body-secondary fs-5 col-12">We provided a source Figma file with Themebau.</p>
    </div>
  </div>

 </div>

 <div class="container w-100 my-5 d-flex justify-content-between pb-5">
  
  <div class="d-flex  justify-content-between " style="width: 31%;">
    <img class="col-4" style="width: 23%; height: 48%;" src="/images/p6/4.png" alt="">
    <div class="mx-4">
      <h5 class="fs-3">Modern Design</h5>
      <p class="text-body-secondary fs-5 col-12">High usability, organizing content, fully responsive design as per latest design trends.</p>
    </div>
  </div>

  <div class="d-flex  justify-content-between " style="width: 31%;">
    <img class="col-4" style="width: 25%; height: 48%;" src="/images/p6/5.png" alt="">
    <div class="mx-4">
      <h5 class="fs-3">Customer Support</h5>
      <p class="text-body-secondary fs-5 col-12">We are here to help you if you have any queries about template.</p>
    </div>
  </div>

  <div class="d-flex  justify-content-between " style="width: 31%;">
    <img class="col-4" style="width: 23%; height: 49%;" src="/images/p6/6.png" alt="">
    <div class="mx-4">
      <h5 class="fs-3">Regular Updates</h5>
      <p class="text-body-secondary fs-5 col-12">Lifetime reliable and regular updates with your purchase.</p>
    </div>
  </div>

 </div> 

</div>

<div class="page7 py-5 position-relative overflow-hidden">
  
  
  <div class="container d-flex justify-content-between">
    <div class="container d-flex flex-column justify-content-between pt-5">
      <div class="d-flex ">
        <img class="z-n1" style="width: 5%; height: 50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">11 Homepage variations</p>
      </div>

      <div class="circle1 " style="height: 100%; width: 22%;"></div>
  
      <div class="d-flex ">
        <img class="" style="width: 5%; height: 50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">19 Portfolio styles & 6 Single Projects pages
        </p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width:5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">4 Menu & 3 Footer styles</p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width:5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">Creative Blog & Inner pages</p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">100% Responsive & Retina ready</p>
      </div>
    </div>
  
    <div class="container d-flex flex-column justify-content-between pt-5 ">
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">Gulp Tooling to automate the Workflow</p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">W3C valid HTML
        </p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">Easy customization via HTML classes & attributes
        </p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">Smooth Animations
        </p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">Smooth Parallax for images & videos
        </p>
      </div>
    </div>
  
    <div class="container flex-column d-flex justify-content-between pt-5 z-1 ">
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2 col-12">Developers ready: Webpack, Gulp, SCSS, Nunjucks, NPM</p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">Google Fonts
        </p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width: 5%; height:30%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">Included generated HTML version (ready to use without developer tools)
        </p>
      </div>
  
      <div class="d-flex">
        <img class="" style="width: 5%; height:50%;" src="/images/star-line.png" alt="">
        <p class="text-white mx-2">Google Maps
        </p>
      </div>
  
    </div>
  </div>

  <div class="text-center text-white p3-3 mt-5">and more... 🔥</div>


</div>

<div class="page-8 my-5 py-5">
  <div class="w-50 mx-auto d-flex justify-content-between align-items-center">
  <h1 class="foot text-center ">Get Themebau</h1>
  <h1><img src="/images/arrow.png" alt=""></h1>

  </div>
</div>



<%- include("./partials/footer") %>